In [1]:
library(tidyverse)

── Attaching core tidyverse packages ──────────────────────────────────────────────────────────────────────────────────────────────────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.2     ✔ readr     2.1.4
✔ forcats   1.0.0     ✔ stringr   1.5.0
✔ ggplot2   3.4.2     ✔ tibble    3.2.1
✔ lubridate 1.9.2     ✔ tidyr     1.3.0
✔ purrr     1.0.1
── Conflicts ────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

In [2]:
country <- read_csv("../../data/country_data.csv")
population <- read_csv("../../data/population2022.csv")
covid <- read_csv("../../data/covid.csv")

Rows: 249 Columns: 11
── Column specification ────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────
Delimiter: ","
chr (7): name, alpha-2, alpha-3, iso_3166-2, region, sub-region, intermediat...
dbl (4): country-code, region-code, sub-region-code, intermediate-region-code

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Rows: 216 Columns: 3
── Column specification ────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────
Delimiter: ","
chr (2): name, country-iso
dbl (1): population-2022

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Rows: 194 Columns: 3
── Column specification ────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────
Delimiter: ","
chr (1): country-iso
dbl (2): confirmed, deaths

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

In [5]:
country |> head(3)

  name          alpha-2 alpha-3 country-code iso_3166-2    region
1 Afghanistan   AF      AFG       4          ISO 3166-2:AF Asia
2 Åland Islands AX      ALA     248          ISO 3166-2:AX Europe
3 Albania       AL      ALB       8          ISO 3166-2:AL Europe
  sub-region      intermediate-region region-code sub-region-code
1 Southern Asia   NA                  142          34
2 Northern Europe NA                  150         154
3 Southern Europe NA                  150          39
  intermediate-region-code
1 NA
2 NA
3 NA

In [9]:
country <- country %>%
        select(name, `alpha-3`, region, `sub-region`, `intermediate-region`)

In [24]:
country %>% filter_all(any_vars(is.na(.))) %>% head(5)

  name           alpha-3 region  sub-region      intermediate-region
1 Afghanistan    AFG     Asia    Southern Asia   NA
2 Åland Islands  ALA     Europe  Northern Europe NA
3 Albania        ALB     Europe  Southern Europe NA
4 Algeria        DZA     Africa  Northern Africa NA
5 American Samoa ASM     Oceania Polynesia       NA

In [27]:
country <- country %>% 
            mutate(`intermediate-region`= coalesce(`intermediate-region`, `sub-region`))

In [28]:
country %>% filter_all(any_vars(is.na(.))) %>% head(5)

  name       alpha-3 region sub-region intermediate-region
1 Antarctica ATA     NA     NA         NA

In [30]:
country <- country %>% na.omit()

In [31]:
population %>% head(3)

  name        country-iso population-2022
1 Aruba       ABW           107697
2 Afghanistan AFG         40683694
3 Angola      AGO         34907095

In [37]:
population %>% filter_all(any_vars(is.na(.))) %>% head(5)

     name country-iso population-2022

In [6]:
covid.head(3)

  country-iso  confirmed  deaths
0         AFG     208324    7872
1         AGO     105184    1931
2         ALB     334135    3596

In [38]:
covid %>% filter_all(any_vars(is.na(.))) %>% head(5)

     country-iso confirmed deaths

In [46]:
df <- country %>% full_join(population, join_by(`alpha-3` == `country-iso`))

In [54]:
df <- df %>% mutate(name= coalesce(`name.x`, `name.y`))

In [65]:
df <- df %>% full_join(covid, join_by(`alpha-3` == `country-iso`))

In [67]:
df %>% head(5)

  name.x         alpha-3 region  sub-region      intermediate-region
1 Afghanistan    AFG     Asia    Southern Asia   Southern Asia
2 Åland Islands  ALA     Europe  Northern Europe Northern Europe
3 Albania        ALB     Europe  Southern Europe Southern Europe
4 Algeria        DZA     Africa  Northern Africa Northern Africa
5 American Samoa ASM     Oceania Polynesia       Polynesia
  name.y         population-2022 name           confirmed deaths
1 Afghanistan    40683694        Afghanistan    208324    7872
2 NA                   NA        Åland Islands      NA      NA
3 Albania         2812325        Albania        334135    3596
4 Algeria        45486083        Algeria        271364    6881
5 American Samoa    54922        American Samoa     NA      NA

In [69]:
df <- df %>% select(-name.x, -name.y)

In [70]:
df <- na.omit(df)

In [79]:
df %>%
    group_by(region) %>%
    summarise(deaths=sum(deaths), confirmed=sum(confirmed), mr=100*deaths/confirmed) %>%
    arrange(desc(mr))

  region   deaths  confirmed mr
1 Africa    257575  12493329 2.0617003
2 Americas 2913947 188273637 1.5477191
3 Europe   2018049 245894198 0.8206981
4 Asia     1589007 199796808 0.7953115
5 Oceania    22872  13690976 0.1670589

In [80]:
df %>%
    group_by(`sub-region`) %>%
    summarise(deaths=sum(deaths), confirmed=sum(confirmed), mr=100*deaths/confirmed) %>%
    arrange(desc(mr))

   sub-region                      deaths  confirmed mr
1  Northern Africa                   88722   3780382 2.3469057
2  Latin America and the Caribbean 1755926  81454030 2.1557264
3  Sub-Saharan Africa               168853   8712947 1.9379551
4  Eastern Europe                   861204  49311500 1.7464567
5  Southern Asia                    772613  57989569 1.3323310
6  Central Asia                      23818   1971023 1.2084080
7  Melanesia                          1719    152072 1.1303856
8  Northern America                1158021 106819607 1.0840903
9  South-eastern Asia               365879  35593936 1.0279251
10 Southern Europe                  441409  56861826 0.7762835
11 Northern Europe                  290530  38375525 0.7570711
12 Western Asia                     233310  35899583 0.6498961
13 Western Europe                   424906 101345347 0.4192654
14 Eastern Asia                     193387  68342697 0.2829666
15 Australia and New Zealand         21066  13472253 0.1563658
16 Micronesia                           45     31152 0.1444530
17 Polynesia                            42     35499 0.1183132

In [81]:
df %>%
    group_by(`intermediate-region`) %>%
    summarise(deaths=sum(deaths), confirmed=sum(confirmed), mr=100*deaths/confirmed) %>%
    arrange(desc(mr))

   intermediate-region       deaths  confirmed mr
1  Central America            386115  11549141 3.3432357
2  Southern Africa            111621   4663341 2.3935843
3  Northern Africa             88722   3780382 2.3469057
4  South America             1345798  67523346 1.9930855
5  Eastern Europe             861204  49311500 1.7464567
6  Middle Africa                6620    445483 1.4860275
7  Eastern Africa              38442   2655549 1.4476103
8  Southern Asia              772613  57989569 1.3323310
9  Western Africa              12170    948574 1.2829784
10 Central Asia                23818   1971023 1.2084080
11 Melanesia                    1719    152072 1.1303856
12 Northern America          1158021 106819607 1.0840903
13 South-eastern Asia         365879  35593936 1.0279251
14 Caribbean                   24013   2381543 1.0082959
15 Southern Europe            441409  56861826 0.7762835
16 Northern Europe            290530  38375525 0.7570711
17 Western Asia               233310  35899583 0.6498961
18 Western Europe             424906 101345347 0.4192654
19 Eastern Asia               193387  68342697 0.2829666
20 Australia and New Zealand   21066  13472253 0.1563658
21 Micronesia                     45     31152 0.1444530
22 Polynesia                      42     35499 0.1183132

In [104]:
r = df.groupby("region")[["confirmed", "population-2022"]].sum()
r["mr"] = 100*r["confirmed"]/r["population-2022"]
r.sort_values("mr", ascending=False)

            confirmed  population-2022         mr
region
Europe    245894198.0     7.452442e+08  32.995117
Oceania    13690976.0     4.344141e+07  31.515955
Americas  188273637.0     1.031631e+09  18.250088
Asia      199796808.0     4.628024e+09   4.317108
Africa     12493329.0     1.403238e+09   0.890321