In [4]:
library(dplyr)

In [71]:
data <- read.csv("../../data/Winter_medals2022-11-03.csv") 
head(data, 5)

  Country   Year Gold Silver Bronze Total Country.Code Population
1 Australia 1994 0    0      1      1     AUS          17855000
2 Australia 1998 0    0      1      1     AUS          18711000
3 Australia 2002 2    0      0      2     AUS          19651400
4 Australia 2006 1    0      1      2     AUS          20697900
5 Australia 2010 2    1      0      3     AUS          22031750

In [76]:
# SELECTING
df <- data %>%
    select(Country, Gold, Silver, Bronze)
head(df,5)

  Country   Gold Silver Bronze
1 Australia 0    0      1
2 Australia 0    0      1
3 Australia 2    0      0
4 Australia 1    0      1
5 Australia 2    1      0

In [77]:
# GROUPING
df <- df %>%
    group_by(Country) %>% 
    summarise(Gold = sum(Gold), Silver = sum(Silver), Bronze = sum(Bronze))

head(df,5)

  Country   Gold Silver Bronze
1 Australia  6    9      7
2 Austria   51   58     67
3 Belarus   10    8      5
4 Belgium    1    2      2
5 Bulgaria   1    2      2

In [78]:
# MUTATING
df <- df %>%
    mutate(Total = Gold + Silver + Bronze, .keep="all")

head(df, 5)

  Country   Gold Silver Bronze Total
1 Australia  6    9      7      22
2 Austria   51   58     67     176
3 Belarus   10    8      5      23
4 Belgium    1    2      2       5
5 Bulgaria   1    2      2       5

In [79]:
# FILTERING
# I only want to look att entries that have more gold medals than the mean + 2 standard devs.
df <- df %>%
    filter(Gold > (mean(Gold) + sd(Gold)))

head(df, 5)

  Country       Gold Silver Bronze Total
1 Canada         75   70    71     216
2 Germany       123  117    75     315
3 Norway        108   93    83     284
4 Russia         57   63    67     187
5 United States  82   85    71     238

In [80]:
# SORTING
df %>%
    arrange(desc(Gold))

  Country       Gold Silver Bronze Total
1 Germany       123  117    75     315
2 Norway        108   93    83     284
3 United States  82   85    71     238
4 Canada         75   70    71     216
5 Russia         57   63    67     187

In [82]:
# COMPOSING it all together
df <- data
df %>%
    select(Country, Gold, Silver, Bronze) %>%
    group_by(Country) %>% 
    summarise(Gold = sum(Gold), Silver = sum(Silver), Bronze = sum(Bronze)) %>%
    mutate(Total = Gold + Silver + Bronze, .keep="all") %>%
    filter(Gold > (mean(Gold) + sd(Gold))) %>% 
    arrange(desc(Gold))

  Country       Gold Silver Bronze Total
1 Germany       123  117    75     315
2 Norway        108   93    83     284
3 United States  82   85    71     238
4 Canada         75   70    71     216
5 Russia         57   63    67     187