In [9]:
library(dbplyr)

In [10]:
install.packages("RSQLite")
library("RSQLite")

In [14]:
con <- DBI::dbConnect(RSQLite::SQLite(), dbname = "..//..//data/pokemon.sqlite")

In [15]:
query <- "SELECT name FROM sqlite_master WHERE type='table';"
result <- dbGetQuery(con, query)

# Display the results
print(result)

           name
1       pokemon
2         types
3 pokemon_types

In [19]:
query = "SELECT * FROM pokemon;"
pokemon <- dbGetQuery(con, query)

pokemon %>% head(5)

  id identifier species_id height weight base_experience order is_default
1 1  bulbasaur  1           7       69    64             1     1
2 2  ivysaur    2          10      130   142             2     1
3 3  venusaur   3          20     1000   236             3     1
4 4  charmander 4           6       85    62             5     1
5 5  charmeleon 5          11      190   142             6     1

In [23]:
cur = conn.cursor()

list(cur.execute("PRAGMA table_info(pokemon);"))

[(0, 'id', 'INTEGER', 0, None, 0),
 (1, 'identifier', 'TEXT', 0, None, 0),
 (2, 'species_id', 'INTEGER', 0, None, 0),
 (3, 'height', 'INTEGER', 0, None, 0),
 (4, 'weight', 'INTEGER', 0, None, 0),
 (5, 'base_experience', 'INTEGER', 0, None, 0),
 (6, 'order', 'INTEGER', 0, None, 0),
 (7, 'is_default', 'INTEGER', 0, None, 0)]

In [13]:
# Close the connection
dbDisconnect(con)

Warning message in connection_release(conn@ptr):
“Already disconnected”